div.flag-mask-left{
	-webkit-mask: url('../resources/images/masks/FlagMaskInverse.png');
    -webkit-mask-size: cover;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    position: absolute;
	mask-image: url('../resources/images/masks/FlagMaskInverse.png');
}

div.flag-mask-right{
	-webkit-mask: url('../resources/images/masks/FlagMaskReverseInverse');
    -webkit-mask-size: cover;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    position: absolute;
	mask-image: url('../resources/images/masks/FlagMaskReverseInverse');
}

div.h2h-mask-left{
	-webkit-mask: url('../resources/images/masks/H2HMaskLeft.png');
    -webkit-mask-size: cover;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    position: absolute;
	mask-image: url('../resources/images/masks/H2HMaskLeft.png')
}

div.h2h-mask-right{
	-webkit-mask: url('../resources/images/masks/H2HMaskRight.png');
    -webkit-mask-size: cover;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    position: absolute;
	mask-image: url('../resources/images/masks/H2HMaskRight.png')
}

